body {
  font-family: 'Helvetica', Arial, sans-serif;
}
.header {
  height: 71px;
  height: 4.4375rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  background: #4cbc64 url('../img/bg-navbaroutsite.png') repeat;
  border-bottom: 1px solid #53575a;
}

.logo {
  margin-bottom: 34px;
  margin-bottom: 2.125rem;
}

.form-intro {
  font-size: 30px;
  font-size: 2.5rem;
  line-height: 48px;
  line-height: 3rem;
  text-align: center;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
p {
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
}
a {
  color: #F68A33;
  text-decoration: none;
}
a:hover {
  color: #fa7b17;
  text-decoration: none;
}
i {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
}
ul {
  text-align: center;
  margin-left: 0;
}
li {
  margin-right: 1rem;
}
li:last-child {
  margin-right: 0;
}
.centered-text {
  text-align: center;
}
/*Actual home remove code when beta-teste be actual home*/
aside h2{
  margin-top: 144px;
  margin-top: 9rem;
}
/*Beta-tester*/
.reg-form-container {
  margin-top: 72px;
  margin-top: 4.5rem; //24*3 = 72/16 = 4.5
}
.reg-form-container .form-intro {
  margin: 0;
  font-size: 1.5rem;
  font-size: 24px;
}
.reg-form-container .important {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #F68A33;
}
.reg-form-container form {
  overflow: hidden;
  width: 65%;
  margin: 1.5rem auto;
  padding: 1.25rem;
  background: #f2f2f2 url('../img/furley-bg.png') repeat;
  border: 1px solid #4cbc64;
  -webkit-box-shadow: 0 0 3px #24a825;
  -moz-box-shadow: 0 0 3px #24a825;
  box-shadow: 0 0 3px #24a825;
}
.reg-form-container form label {
 line-height: 30px;
 margin-bottom: 2px;
 overflow: hidden;
}
.reg-form-container form input,
.reg-form-container form textarea {
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}
textarea:focus,
input[type="text"]:focus {
  border-color: rgba(255, 202, 153, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,202,153,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,202,153,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,202,153,0.6);
}
.reg-form-container form input {
  width: 70%;
  float: right; 
}
.reg-form-container form .small {
  font-size: .75em;
  margin: 14px 0 4px 0;
  text-align: left;
}
.reg-form-container form textarea {
  width: 96%;
}
.btn-primary {
  padding: 4px 14px;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #f88d38;
  background-image: -moz-linear-gradient(top, #f79a4f, #fa7b17);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f79a4f), to(#fa7b17));
  background-image: -webkit-linear-gradient(top, #f79a4f, #fa7b17);
  background-image: -o-linear-gradient(top, #f79a4f, #fa7b17);
  background-image: linear-gradient(to bottom, #f79a4f, #fa7b17);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF79A4F, endColorstr=#FFFA7B17, GradientType=0);
  border-color: #fa7b17 #fa7b17 #c05704;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) fadein(rgba(0,0,0,0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.reg-form-container form .btn-primary {
  width: 100%;
  font-size: 1rem;
}
.nav a {
  color: #333;
}
.nav a:hover {
  color: #000;
}
aside .nav a {
  color: #F68A33;
}
aside .nav a:hover {
  color: #fa7b17;
}
.strip-1 {
  padding-bottom: 3rem;
}
.strip-2 {
  padding-bottom: 3rem;
  background: url('../img/furley-bg.png');
  border-top: 3px solid #ff7911;
}
.strip-3 {
  padding-bottom: 3rem;
  background-color: #f68a33;
  color: #fff;
  border-top: 3px solid #888787;
}
.strip-4 {
  padding-bottom: 3rem;
  border-bottom: 1px solid #4cbc64;
  background: url('../img/furley-bg.png');
  border-top: 3px solid #333333;
}
.strip-5 {
  padding: 3.125rem 0; /*50/16*/ 
  font-size: 2.25rem; /*36/16*/
  line-height: 3.125rem;
  text-align: center;
  background-color: #fff;
}
.strip-title {
  margin-top: 2.5rem; /*40/16*/
  font-family: 'Georgia', times, serif;
  font-size: 3rem; /*48/16 = 3*/
  line-height: 3.375rem; /*54/16 = 3.375*/
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
.strip-title:first-letter {
  font-size: 3.75rem; /*60/16 = 3.75*/
}
[class^="big-icon-"] {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  margin-top: -2.75rem; /*44/16 = 2.75*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.big-icon-game {
  border: 3px solid #ff7911;
  background: #4f5457 url('../img/icon-big-game.png') no-repeat center center;
}
.big-icon-club {
  border: 3px solid #888787;
  background: #4f5457 url('../img/icon-big-club.png') no-repeat center center;
}
.big-icon-resources {
  border: 3px solid #333333;
  background: #4f5457 url('../img/icon-big-resources.png') no-repeat center center;
}
.img-container {
  margin: 4rem 0 2.75rem 1.5rem;
  text-align: center;
  border: 1px solid #6c6c6c;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.8);
  box-shadow: 0 0 3px rgba(0,0,0,0.8);
}
.strip-3 .right {
  float: right !important;
}
.strip-3 p {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.strip-3 .img-container {
  margin: 4rem 1.5rem 2.75rem 0;
  background: #fff;
}
.strip-4 .img-container {
  margin: 8rem 0 2.75rem 1.5rem;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.strip-5 .btn {
  padding: .375rem 1.25rem; 
  font-size: 1.875rem;
  line-height: 3.125rem; 
}
footer {
  padding-top: 2.5rem;
  background: url(../img/bg-footer.png);
  color: #333;
}
footer h4 {
  font-size: .9375rem; /*15/16 = */
  margin-bottom: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
footer p {
  margin-bottom: 1rem;
  text-align: left;
  font-size: .875rem; 
  line-height: 1.25rem; 
}
footer .visible {
  display: block;
}
footer .str {
  font-weight: bold;
}
footer ul {
  margin: 0;
  margin-top: -0.5rem;
  text-align: left;
  list-style: none;
}
footer ul li {
  display: inline;
  margin-right: 0.5rem;
  line-height: 1.25rem;
}
footer li a {
  color: #333;
}
footer li a:hover {
  color: #000;
}
footer li i {
  font-size: 1.875rem;
  margin-left: -.375rem;
}
.signature {
  clear: both;
  margin-left: 2.083%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: .75rem;
}

/*media query*/

@media (max-width: 840px) {
  .reg-form-container {
    margin-top: 24px;
    margin-top: 1.5rem;
  }
  .reg-form-container .form-intro {
    font-size: 20px;
  }
  .reg-form-container form {
    width: 80%;
  }
  .strip-title {
    margin-top: 2.2rem;
    font-size: 2.5rem; 
  }
  .strip-title:first-letter {
    font-size: 3.2rem;
  }
  .strip-5 .btn {
    padding: .625rem 1.25rem; /*10/16 = .625*/
    font-size: 1.625rem;/* 26/16 = */
    line-height: 2rem;
  }
  footer {
    padding-top: 2rem;
  }
  footer h4 {
    margin-bottom: 1rem;
  }
}
@media (max-width: 720px){
  /*Actual home remove code when beta-teste be actual home*/
  aside h2{
    font-size: 2.5rem;
    margin-top: 4rem;
  }
  aside a {
    color: #F68A33;
  }
  aside a:hover {
    color: #fa7b17;
  }
  /*..*/
  .form-intro {
    margin-top: 48px;
    margin-top: 3rem;
    color: #F68A33;
  }
  .reg-form-container {
    margin-top: 0;
  }
  .reg-form-container form {
    width: 65% !important;
  }
  .reg-form-container .form-intro {
    color: #333333;
  }
  .strip-3 .right {
    float: none !important;
  }
  .strip-4 {
    padding-bottom: 1rem; 
  }
  .strip-4 .img-container {
    display: none;
  }
  footer h4 {
    font-weight: bold;
  }
  footer a, footer i {
    color: #F68A33;
  }
  footer a:hover, footer i:hover {
    color: #fa7b17;
  }
  .img-container,
  .strip-3 .img-container {
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  /*Actual home remove code when beta-tester be actual home*/
  aside h2{
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  /*..*/
  .header {
    height: 48px;
    height: 3rem;
  }
  .form-intro {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 38px;
    line-height: 2.375rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem; 
  }
  .reg-form-container form {
    width: 85% !important;
  }
  [class^="big-icon-"] {
    display: inline-block;
    height: 4.2rem;
    width: 4.2rem;
    margin-top: -2.5rem;    
  }
  .strip-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .strip-title:first-letter {
    font-size: 2.8rem;
  }
  .img-container,
  .strip-3 .img-container {
    margin: 0;
  }
  .strip-5 {
    padding: 2.125rem 0;
  }
  .strip-5 .btn {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}


